/* base styles */
:root {
  --marginal-padding: 150px;
}

/* app's background color */
body{
  background-color: ivory;
}

/* reset styles for all elements */
* {
  margin: 0px;
  padding: 0px;
  font-family: Inter, 'Segoe UI', sans-serif;
  box-sizing: border-box;
  border: 0px;
  background-color: transparent;
}




/* styles for the app layout */
.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
}


/* navbar styles */
nav {
  padding: 25px var(--marginal-padding);
  display: flex;
  gap: 15px 0px;
  align-items: center;
  justify-content: space-between;
}
.navTitle {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  gap: 0px 8px;
}
.navTitleIcon {
  font-size: 30px;
}
.navLink {
  text-transform: capitalize;
}


/* styling the timer section */
.timer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px var(--marginal-padding);
  gap: 0px 10%;
  align-items: center;
  justify-content: center;
  width: 100%;
}


/* styling the app's moving clock */
.clock {
  position: relative;
  top: 0;
  width: 320px;
  height: 320px;
}
svg, .clockHands {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
svg > circle {
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
}
.clockHands1, .clockHands2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% ) rotate(270deg);
  width: 90%;
  height: 5px;
}
.clockHands2 {
  transform: translate( -50%, -50% ) rotate(360deg);
}
.clockKnob {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% ) rotate(270deg);
  background-color: black;
}
.clockHands1 > div, .clockHands2 > div {
  width: 50%;
  margin-left: auto;
  height: 100%;
  background-color: black;
  border-radius: 8px;
}



/* styling the timer's inputs and controls */
.timerCtn {
  width: 50%;
}
.timerInputCtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.timerInput {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
}
.inputIncrementControl, .inputDecrementControl {
  font-size: 28px;
  cursor: pointer;
  display: block;
  text-align: center;
}
.inputValue {
  font-size: 38px;
  font-weight: 700;
}


/* timer's status text */
.timerStatusText {
  text-transform: capitalize;
  margin-bottom: 20px;
}

/* timer's control buttons */
.timerControlsCtn {
  display: flex;
  gap: 0px 20px;
}
.resetBtn, .toggleBtn {
  flex-grow: 0.5;
  padding: 8px 15px;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.resetBtn {
  background-color: black;
  color: white;
  border: medium solid transparent;
}
.toggleBtn {
  border: medium solid black;
}



/* adding interactivity and responsiveness to the page */
.inputIncrementControl:hover, .inputDecrementControl:hover {
  background-color: black;
  color: white;
}
.resetBtn:hover {
  border-color: black;
  background-color: transparent;
  color: black;
}
.toggleBtn:hover {
  background-color: black;
  color: white;
}



/* adding responsive styles */
@media screen and ( max-width: 1050px ) {
  /* change the margins on the side of all elements */
  :root {
    --marginal-padding: 90px;
  }


  /* change the respective font-size of corresponding 
    elements to make them look better */
  .navTitle {
    font-size: 18px;
  }
  .navTitleIcon {
    font-size: 25px;
  }
  .navLink {
    font-size: 14px;
  }

  .inputValue {
    font-size: 20px;
  }
  .resetBtn, .toggleBtn {
    font-size: 14px;
  }
}

@media screen and ( max-width: 900px ) {
  /* change the margins on the side of all elements */
  :root {
    --marginal-padding: 15px;
  }

  /* re-do nav layout for better appearance */
  nav {
    padding: 20px var(--marginal-padding);
    flex-direction: column;
    align-items: flex-start;
  }

  /* widen the timerCtn in order to have more space 
      for timer inputs and controls */
  .timerCtn {
    width: 90%;
  }

  /* add less pad to the timer control buttons */
  .resetBtn, .toggleBtn {
    padding: 6px 10px;
  }
}